<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js""></script>
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/homepage.css" />
    <title>首页</title>
</head>
<body>

    <iframe src="commonNav.html" align="middle" seamless="seamless" frameborder="0" width="100%" height="34px"></iframe>
    <iframe src="commonSearch.html" frameborder="0" width="100%" height="140px;"></iframe>
    <div class="homepageDiv">
        <img src="image/site/catear.png" id="catear"style="left:357.5px;" class="catear" >
        <div class="categoryWithCarousel">
            <div class="headbar">
                <div class="head" style="margin-left: 117.383px;">
                    <span style="margin-left:10px" class="glyphicon glyphicon-th-list"></span>
                    <span style="margin-left:10px">商品分类</span>
                </div>
                <div class="rightMenu">
                    <span>
                        <a href=""><img src="image/site/chaoshi.png"></a>
                    </span>
                    <span><a href=""><img src="image/site/guoji.png"></a></span>
                    <span> <a href="forecategory?cid=83">平板电视</a></span>
                    <span><a href="forecategory?cid=82">马桶</a></span>
                    <span><a href="forecategory?cid=81">沙发</a></span>
                    <span><a href="forecategory?cid=80">电热水器</a></span>
                </div>
            </div>
            <div class="" style="position: relative;">
                <div class="categoryMenu" style="left:-20px;">
                    <div cid="83" class="eachCategory" style="background-color:rgb(226,226,227)">
                        <span class="glyphicon glyphicon-link"></span>
                        <a href="">平板电视</a>
                    </div>
                    <div cid="82"class="eachCategory" style="background-color:rgb(226,226,227)">
                        <span class="glyphicon glyphicon-link"></span>
                        <a href="">马桶</a>
                    </div>
                    <div cid="81" class="eachCategory" style="background-color:rgb(226,226,227)">
                        <span class="glyphicon glyphicon-link"></span>
                        <a href="">沙发</a>
                    </div>
                    <div cid="80" class="eachCategory" style="background-color:rgb(226,226,227)">
                        <span class="glyphicon glyphicon-link"></span>
                        <a href="">电热水器</a>
                    </div>
                    <div cid="79" class="eachCategory" style="background-color:rgb(226,226,227)">
                        <span class="glyphicon glyphicon-link"></span>
                        <a href="">平衡车</a>
                    </div>
                    <div cid="78" class="eachCategory" style="background-color:rgb(226,226,227)">
                        <span class="glyphicon glyphicon-link"></span>
                        <a href="">扫地机器人</a>
                    </div>
                    <div  cid="77" class="eachCategory" style="background-color:rgb(226,226,227)">
                        <span class="glyphicon glyphicon-link"></span>
                        <a href="">原汁机</a>
                    </div>
                    <div cid="76" class="eachCategory" style="background-color:rgb(226,226,227)">
                        <span class="glyphicon glyphicon-link"></span>
                        <a href="">冰箱</a>
                    </div>
                    <div  cid="75" class="eachCategory" style="background-color:rgb(226,226,227)">
                        <span class="glyphicon glyphicon-link"></span>
                        <a href="">空调</a>
                    </div>
                    <div  cid="74" class="eachCategory" style="background-color:rgb(226,226,227)">
                        <span class="glyphicon glyphicon-link"></span>
                        <a href="">女表</a>
                    </div>
                    <div  cid="73" class="eachCategory" style="background-color:rgb(226,226,227)">
                        <span class="glyphicon glyphicon-link"></span>
                        <a href="">男表</a>
                    </div>
                    <div  cid="72"class="eachCategory" style="background-color:rgb(226,226,227)">
                        <span class="glyphicon glyphicon-link"></span>
                        <a href="">男士手拿包</a>
                    </div>
                    <div  cid="71" class="eachCategory" style="background-color:rgb(226,226,227)">
                        <span class="glyphicon glyphicon-link"></span>
                        <a href="">男士西服</a>
                    </div>
                    <div cid="70" class="eachCategory" style="background-color:rgb(226,226,227)">
                        <span class="glyphicon glyphicon-link"></span>
                        <a href="">时尚男装</a>
                    </div>
                    <div  cid="69" class="eachCategory" style="background-color:rgb(226,226,227)">
                        <span class="glyphicon glyphicon-link"></span>
                        <a href="">品牌女装</a>
                    </div>
                    <div  cid="68" class="eachCategory" style="background-color:rgb(226,226,227)">
                        <span class="glyphicon glyphicon-link"></span>
                        <a href="">太阳镜</a>
                    </div>
                    <div  cid="67" class="eachCategory" style="background-color:rgb(226,226,227)">
                        <span class="glyphicon glyphicon-link"></span>
                        <a href="">安全座椅</a>
                    </div>
                </div>
                <div style="position: relative;left:0;top:0;">
                    <div cid='83' class="productsAsideCategorys" style="left: -20px; display: none;">
                        <div class="row">
                            <a href="">屏大影院</a>
                            <a href="">周末</a>
                            <a href="">新品特惠</a>
                            <a href="">32寸电视机</a>
                            <a href="">智能网络</a>
                            <div class="seperator"></div>
                        </div>
                        <div class="row">
                            <a href="">USB高清解</a>
                            <a href="" style="color: rgb(135, 206, 250);">芒果TV在线</a>
                            <a href="" style="color: rgb(135, 206, 250);">抢购价</a>
                            <a href="" style="color: rgb(135, 206, 250);">USB解码</a>
                            <a href="">32英寸</a>
                            <a href="">10核</a>
                            <a href="">TCL品牌日</a>
                            <div class="seperator"></div>
                        </div>
                        <div class="row">
                            <a href="">不要赠品</a>
                            <a href="">新品上市</a>
                            <a href="">4k硬屏</a>
                            <a href="">领100元劵</a>
                            <a href="" style="color: rgb(135, 206, 250);">智能高清</a>
                            <a href="">8月，酷暑</a>
                            <a href="">8月大促</a>
                            <a href="">天猫定制</a>
                            <div class="seperator"></div>
                        </div>
                        <div class="row">
                            <a href="" style="color: rgb(135, 206, 250);">智能操作系统</a>
                            <a href="">金色外观</a>
                            <a href="">三星屏幕</a>
                            <a href="">客厅爆款</a>
                            <a href="">八核配置</a>
                            <a href="">限时特惠</a>
                            <div class="seperator"></div>
                        </div>
                        <div class="row">
                            <a href="">限时特惠</a>
                            <a href="">热销爆款</a>
                            <a href="">4k全高清</a>
                            <a href="">六核智能</a>
                            <a href="">14核4k</a>
                            <a href="">YUNOS</a>
                            <a href="" style="color: rgb(135, 206, 250);">YUNOS</a>
                            <a href="">64位处理器</a>
                            <div class="seperator"></div>
                        </div>
                        <div class="row">
                            <a href="" style="color: rgb(135, 206, 250);">YUNOs</a>
                            <a href="">微信电视</a>
                            <a href="" style="color: rgb(135, 206, 250);">4k超清</a>
                            <a href="" style="color: rgb(135, 206, 250);">64位真k</a>
                            <a href="">10核机芯</a>
                            <a href="">V字黑轴底座</a>
                            <a href="">4k超清</a>
                            <div class="seperator"></div>
                        </div>
                        <div class="row">
                            <a href="" style="color: rgb(135, 206, 250);">64位14核</a>
                            <a href="">海量影视</a>
                            <a href="">人气爆款</a>
                            <a href="">限时特惠</a>
                            <a href="">真4k屏</a>
                            <a href="">65寸巨屏</a>
                            <a href="">4k超清世界</a>
                            <a href="" style="color: rgb(135, 206, 250);">限时特惠</a>
                            <div class="seperator"></div>
                        </div>
                        <div class="row">
                            <a href="" style="color: rgb(135, 206, 250);">55寸旗舰</a>
                            <a href="">4k机皇</a>
                            <a href="">曲面机皇</a>
                            <a href="">轻薄4k</a>
                            <div class="seperator"></div>
                        </div>

                    </div>
                    <div cid='82' class="productsAsideCategorys" style="left: -20px; display: none;">
                        82
                    </div>
                </div>
                <div id="carousel-of-product"class="carousel-of-product carousel slide">
                    <!-- 轮播（Carousel）指标 -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-of-product" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-of-product" data-slide-to="1"></li>
                        <li data-target="#carousel-of-product" data-slide-to="2"></li>
                        <li data-target="#carousel-of-product" data-slide-to="3"></li>
                    </ol>
                    <!-- 轮播（Carousel）项目 -->
                   <div class="carousel-inner">
                       <div class="item active">
                           <img src="image/lunbo/1.jpg" style="height:510px !important;" alt="slide">
                       </div>
                       <div class="item">
                           <img src="image/lunbo/2.jpg" style="height:510px !important;" alt="slide">
                       </div>
                       <div class="item">
                           <img src="image/lunbo/3.jpg" style="height:510px !important;"  alt="slide">
                       </div>
                       <div class="item">
                           <img src="image/lunbo/4.jpg" style="height:510px !important;"  alt="slide">
                       </div>
                   </div>

                </div>
            </div>
        </div>
        <div class="homepageCategoryProducts">
            <div class="eachHomepageCategoryProducts ">
                <div class="left-mark"></div>
                <span class="categoryTitle">平板电视</span>
                <br />
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/676.jpg" width="100px" />
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]夏普屏PANDA/熊猫 LE39D71S</span>
                    </a>
                    <span class="productPrice">1,874.25</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/665.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Changhong/长虹 65S1安卓智</span>
                    </a>
                    <span class="productPrice">3,824.16</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/654.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Hisense/海信 LED40EC52</span>
                    </a>
                    <span class="productPrice">1,439.40</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/643.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Hisense/海信 LED49EC32</span>
                    </a>
                    <span class="productPrice">1,679.40</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/632.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Konka/康佳 LED32S1卧室32</span>
                    </a>
                    <span class="productPrice">1,874.25</span>
                    <div class="product-mask"></div>
                </div>

            </div>
            <div class="eachHomepageCategoryProducts">
                <div class="left-mark"></div>
                <span class="categoryTitle">马桶</span>
                <br />
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/676.jpg" width="100px" />
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]夏普屏PANDA/熊猫 LE39D71S</span>
                    </a>
                    <span class="productPrice">1,874.25</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/665.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Changhong/长虹 65S1安卓智</span>
                    </a>
                    <span class="productPrice">3,824.16</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/654.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Hisense/海信 LED40EC52</span>
                    </a>
                    <span class="productPrice">1,439.40</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/643.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Hisense/海信 LED49EC32</span>
                    </a>
                    <span class="productPrice">1,679.40</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/632.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Konka/康佳 LED32S1卧室32</span>
                    </a>
                    <span class="productPrice">1,874.25</span>
                    <div class="product-mask"></div>
                </div>

            </div>
            <div class="eachHomepageCategoryProducts">
                <div class="left-mark"></div>
                <span class="categoryTitle">沙发</span>
                <br />
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/676.jpg" width="100px" />
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]夏普屏PANDA/熊猫 LE39D71S</span>
                    </a>
                    <span class="productPrice">1,874.25</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/665.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Changhong/长虹 65S1安卓智</span>
                    </a>
                    <span class="productPrice">3,824.16</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/654.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Hisense/海信 LED40EC52</span>
                    </a>
                    <span class="productPrice">1,439.40</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/643.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Hisense/海信 LED49EC32</span>
                    </a>
                    <span class="productPrice">1,679.40</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/632.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Konka/康佳 LED32S1卧室32</span>
                    </a>
                    <span class="productPrice">1,874.25</span>
                    <div class="product-mask"></div>
                </div>

            </div>
            <div class="eachHomepageCategoryProducts">
                <div class="left-mark"></div>
                <span class="categoryTitle">电热水器</span>
                <br />
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/676.jpg" width="100px" />
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]夏普屏PANDA/熊猫 LE39D71S</span>
                    </a>
                    <span class="productPrice">1,874.25</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/665.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Changhong/长虹 65S1安卓智</span>
                    </a>
                    <span class="productPrice">3,824.16</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/654.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Hisense/海信 LED40EC52</span>
                    </a>
                    <span class="productPrice">1,439.40</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/643.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Hisense/海信 LED49EC32</span>
                    </a>
                    <span class="productPrice">1,679.40</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/632.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Konka/康佳 LED32S1卧室32</span>
                    </a>
                    <span class="productPrice">1,874.25</span>
                    <div class="product-mask"></div>
                </div>

            </div>
            <div class="eachHomepageCategoryProducts">
                <div class="left-mark"></div>
                <span class="categoryTitle">平衡车</span>
                <br />
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/676.jpg" width="100px" />
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]夏普屏PANDA/熊猫 LE39D71S</span>
                    </a>
                    <span class="productPrice">1,874.25</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/665.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Changhong/长虹 65S1安卓智</span>
                    </a>
                    <span class="productPrice">3,824.16</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/654.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Hisense/海信 LED40EC52</span>
                    </a>
                    <span class="productPrice">1,439.40</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/643.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Hisense/海信 LED49EC32</span>
                    </a>
                    <span class="productPrice">1,679.40</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/632.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Konka/康佳 LED32S1卧室32</span>
                    </a>
                    <span class="productPrice">1,874.25</span>
                    <div class="product-mask"></div>
                </div>

            </div>
            <div class="eachHomepageCategoryProducts">
                <div class="left-mark"></div>
                <span class="categoryTitle">扫地机器人</span>
                <br />
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/676.jpg" width="100px" />
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]夏普屏PANDA/熊猫 LE39D71S</span>
                    </a>
                    <span class="productPrice">1,874.25</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/665.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Changhong/长虹 65S1安卓智</span>
                    </a>
                    <span class="productPrice">3,824.16</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/654.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Hisense/海信 LED40EC52</span>
                    </a>
                    <span class="productPrice">1,439.40</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/643.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Hisense/海信 LED49EC32</span>
                    </a>
                    <span class="productPrice">1,679.40</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/632.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Konka/康佳 LED32S1卧室32</span>
                    </a>
                    <span class="productPrice">1,874.25</span>
                    <div class="product-mask"></div>
                </div>

            </div>
            <div class="eachHomepageCategoryProducts">
                <div class="left-mark"></div>
                <span class="categoryTitle">原汁机</span>
                <br />
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/676.jpg" width="100px" />
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]夏普屏PANDA/熊猫 LE39D71S</span>
                    </a>
                    <span class="productPrice">1,874.25</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/665.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Changhong/长虹 65S1安卓智</span>
                    </a>
                    <span class="productPrice">3,824.16</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/654.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Hisense/海信 LED40EC52</span>
                    </a>
                    <span class="productPrice">1,439.40</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/643.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Hisense/海信 LED49EC32</span>
                    </a>
                    <span class="productPrice">1,679.40</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/632.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Konka/康佳 LED32S1卧室32</span>
                    </a>
                    <span class="productPrice">1,874.25</span>
                    <div class="product-mask"></div>
                </div>

            </div>
            <div class="eachHomepageCategoryProducts">
                <div class="left-mark"></div>
                <span class="categoryTitle">冰箱</span>
                <br />
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/676.jpg" width="100px" />
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]夏普屏PANDA/熊猫 LE39D71S</span>
                    </a>
                    <span class="productPrice">1,874.25</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/665.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Changhong/长虹 65S1安卓智</span>
                    </a>
                    <span class="productPrice">3,824.16</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/654.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Hisense/海信 LED40EC52</span>
                    </a>
                    <span class="productPrice">1,439.40</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/643.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Hisense/海信 LED49EC32</span>
                    </a>
                    <span class="productPrice">1,679.40</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/632.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Konka/康佳 LED32S1卧室32</span>
                    </a>
                    <span class="productPrice">1,874.25</span>
                    <div class="product-mask"></div>
                </div>

            </div>
            <div class="eachHomepageCategoryProducts">
                <div class="left-mark"></div>
                <span class="categoryTitle">空调</span>
                <br />
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/676.jpg" width="100px" />
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]夏普屏PANDA/熊猫 LE39D71S</span>
                    </a>
                    <span class="productPrice">1,874.25</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/665.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Changhong/长虹 65S1安卓智</span>
                    </a>
                    <span class="productPrice">3,824.16</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/654.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Hisense/海信 LED40EC52</span>
                    </a>
                    <span class="productPrice">1,439.40</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/643.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Hisense/海信 LED49EC32</span>
                    </a>
                    <span class="productPrice">1,679.40</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/632.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Konka/康佳 LED32S1卧室32</span>
                    </a>
                    <span class="productPrice">1,874.25</span>
                    <div class="product-mask"></div>
                </div>

            </div>
            <div class="eachHomepageCategoryProducts">
                <div class="left-mark"></div>
                <span class="categoryTitle">女表</span>
                <br />
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/676.jpg" width="100px" />
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]夏普屏PANDA/熊猫 LE39D71S</span>
                    </a>
                    <span class="productPrice">1,874.25</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/665.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Changhong/长虹 65S1安卓智</span>
                    </a>
                    <span class="productPrice">3,824.16</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/654.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Hisense/海信 LED40EC52</span>
                    </a>
                    <span class="productPrice">1,439.40</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/643.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Hisense/海信 LED49EC32</span>
                    </a>
                    <span class="productPrice">1,679.40</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/632.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Konka/康佳 LED32S1卧室32</span>
                    </a>
                    <span class="productPrice">1,874.25</span>
                    <div class="product-mask"></div>
                </div>

            </div>
            <div class="eachHomepageCategoryProducts">
                <div class="left-mark"></div>
                <span class="categoryTitle">男表</span>
                <br />
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/676.jpg" width="100px" />
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]夏普屏PANDA/熊猫 LE39D71S</span>
                    </a>
                    <span class="productPrice">1,874.25</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/665.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Changhong/长虹 65S1安卓智</span>
                    </a>
                    <span class="productPrice">3,824.16</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/654.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Hisense/海信 LED40EC52</span>
                    </a>
                    <span class="productPrice">1,439.40</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/643.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Hisense/海信 LED49EC32</span>
                    </a>
                    <span class="productPrice">1,679.40</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/632.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Konka/康佳 LED32S1卧室32</span>
                    </a>
                    <span class="productPrice">1,874.25</span>
                    <div class="product-mask"></div>
                </div>

            </div>
            <div class="eachHomepageCategoryProducts">
                <div class="left-mark"></div>
                <span class="categoryTitle">男士手拿包</span>
                <br />
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/676.jpg" width="100px" />
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]夏普屏PANDA/熊猫 LE39D71S</span>
                    </a>
                    <span class="productPrice">1,874.25</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/665.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Changhong/长虹 65S1安卓智</span>
                    </a>
                    <span class="productPrice">3,824.16</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/654.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Hisense/海信 LED40EC52</span>
                    </a>
                    <span class="productPrice">1,439.40</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/643.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Hisense/海信 LED49EC32</span>
                    </a>
                    <span class="productPrice">1,679.40</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/632.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Konka/康佳 LED32S1卧室32</span>
                    </a>
                    <span class="productPrice">1,874.25</span>
                    <div class="product-mask"></div>
                </div>

            </div>
            <div class="eachHomepageCategoryProducts">
                <div class="left-mark"></div>
                <span class="categoryTitle">男士西服</span>
                <br />
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/676.jpg" width="100px" />
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]夏普屏PANDA/熊猫 LE39D71S</span>
                    </a>
                    <span class="productPrice">1,874.25</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/665.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Changhong/长虹 65S1安卓智</span>
                    </a>
                    <span class="productPrice">3,824.16</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/654.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Hisense/海信 LED40EC52</span>
                    </a>
                    <span class="productPrice">1,439.40</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/643.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Hisense/海信 LED49EC32</span>
                    </a>
                    <span class="productPrice">1,679.40</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/632.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Konka/康佳 LED32S1卧室32</span>
                    </a>
                    <span class="productPrice">1,874.25</span>
                    <div class="product-mask"></div>
                </div>

            </div>
            <div class="eachHomepageCategoryProducts">
                <div class="left-mark"></div>
                <span class="categoryTitle">时尚男鞋</span>
                <br />
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/676.jpg" width="100px" />
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]夏普屏PANDA/熊猫 LE39D71S</span>
                    </a>
                    <span class="productPrice">1,874.25</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/665.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Changhong/长虹 65S1安卓智</span>
                    </a>
                    <span class="productPrice">3,824.16</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/654.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Hisense/海信 LED40EC52</span>
                    </a>
                    <span class="productPrice">1,439.40</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/643.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Hisense/海信 LED49EC32</span>
                    </a>
                    <span class="productPrice">1,679.40</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/632.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Konka/康佳 LED32S1卧室32</span>
                    </a>
                    <span class="productPrice">1,874.25</span>
                    <div class="product-mask"></div>
                </div>

            </div>
            <div class="eachHomepageCategoryProducts">
                <div class="left-mark"></div>
                <span class="categoryTitle">品牌女装</span>
                <br />
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/676.jpg" width="100px" />
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]夏普屏PANDA/熊猫 LE39D71S</span>
                    </a>
                    <span class="productPrice">1,874.25</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/665.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Changhong/长虹 65S1安卓智</span>
                    </a>
                    <span class="productPrice">3,824.16</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/654.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Hisense/海信 LED40EC52</span>
                    </a>
                    <span class="productPrice">1,439.40</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/643.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Hisense/海信 LED49EC32</span>
                    </a>
                    <span class="productPrice">1,679.40</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/632.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Konka/康佳 LED32S1卧室32</span>
                    </a>
                    <span class="productPrice">1,874.25</span>
                    <div class="product-mask"></div>
                </div>

            </div>
            <div class="eachHomepageCategoryProducts">
                <div class="left-mark"></div>
                <span class="categoryTitle">安全座椅</span>
                <br />
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/676.jpg" width="100px" />
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]夏普屏PANDA/熊猫 LE39D71S</span>
                    </a>
                    <span class="productPrice">1,874.25</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/665.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Changhong/长虹 65S1安卓智</span>
                    </a>
                    <span class="productPrice">3,824.16</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/654.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Hisense/海信 LED40EC52</span>
                    </a>
                    <span class="productPrice">1,439.40</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/643.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Hisense/海信 LED49EC32</span>
                    </a>
                    <span class="productPrice">1,679.40</span>
                    <div class="product-mask"></div>
                </div>
                <div class="productItem">
                    <a href="">
                        <img src="http://tmall.how2j.cn/productSingle_middle/632.jpg"/>
                    </a>
                    <a class="productItemDescLink" href="">
                        <span class="productItemDesc">[热销]Konka/康佳 LED32S1卧室32</span>
                    </a>
                    <span class="productPrice">1,874.25</span>
                    <div class="product-mask"></div>
                </div>

            </div>
            <img id="endpng" class="endpng" src="image/site/end.png">
        </div>
    </div>
    <iframe src="commonFoot.html" frameborder="0" width="100%" height="600px;"></iframe>
    <script src="js/homepage.js"></script>
</body>

</html>
