body {
    font-size: 12px;
    font-family: Arial;
    min-width: 1024px;
    line-height: 1.42857143;
}
a {
    color: #999;
    text-decoration: none;
    padding: 0 20px;
    font-size: 14px;
}
div.simpleSearchDiv {
    background-color: #C40000;
    width: 300px;
    margin: 10px 20px 40px;
    padding: 1px;
    height: 40px;
    display: block;
}
div.simpleSearchOutDiv {
    max-width: 1024px;
    margin: 0px auto;
    position: relative;
}

img {
    vertical-align: middle;
}

img.simpleLogo {
    position: absolute;
    left: 10px;
    top: 50px;
    width: 140px;
}
div.simpleSearchDiv input {
    width: 225px;
    border: 1px solid transparent;
    height: 34px;
    margin: 2px;
    outline: none;
}
div.simpleSearchDiv button {
    width: 60px;
    border: 1px solid transparent;
    background-color: #C40000;
    color: white;
    font-size: 14px;
}

div.searchBelow {
    margin-top: 3px;
    margin-left: -20px;
}

div.searchBelow span {
    color: #999;
}

div.searchBelow a:hover {
    color: rgb(196, 0, 0);
    text-decoration: none;
}
