img.catear {
    position: relative;
    height: 15px;
    top: 6px;
}

div.head {
    width: 200px;
    background-color: #C60A0A;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    display: inline-block;
}

 div.headbar {
    background-color: #DD2727;
}

div.rightMenu {
    display: inline-block;
}
div.categoryWithCarousel div.rightMenu span {
    margin: 0px 20px 0px 20px;
}
div.categoryWithCarousel div.rightMenu a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}
div.categoryMenu {
    width: 200px;
    background-color: #e2e2e3;
    margin-left: 20px;
    position: absolute;
    top: 0;
    z-index: 1;
    padding-left: 10px;
}
div.categoryWithCarousel div.rightMenu img {
    height: 30px;
}
div.categoryWithCarousel div.eachCategory  {
    height: 30px;
}
div.categoryWithCarousel div.eachCategory span {
    margin-right: 10px;
}

div.categoryWithCarousel div.eachCategory a:hover {
    text-decoration: none;
}

div.categoryWithCarousel div.eachCategory:hover {
    background-color: white !important;
}
div.productsAsideCategorys a {
    color: #999;
    font-size: 14px;
    margin: 8px;
}

div.categoryWithCarousel div.productsAsideCategorys {
    width: 825px;
    height: 510px;
    background-color: white;
    margin-left: 220px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

div.productsAsideCategorys div.row {
    margin: 20px 80px 0px 80px;
}

div.productsAsideCategorys div.row div.seperator {
    margin-top: 20px;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #e7e7e7;
}

div.homepageCategoryProducts {
    background-color: #F5F5F5;
    padding: 50px 10px 50px 10px;
    margin: 10px auto;
    max-width: 1013px;
}

div.eachHomepageCategoryProducts {
    height: 357px;
}
div.left-mark {
    display: inline-block;
    height: 20px;
    vertical-align: top;
    width: 5px;
    background-color: #19C8A9;
}

span.categoryTitle {
    font-size: 16px;
    margin-left: 30px;
    color: #646464;
    font-weight: bold;
}

div.productItem {
    width: 189px;
    height: 285px;
    border: 1px solid white;
    background-color: white;
    margin: 8px 4px;
    float: left;

}

div.productItem:hover{
    cursor: pointer;
    border: 1px solid #C40000;
}

div.productItem img {
    width: 187px;
    height: 190px;
    position: relative;
}

div.productItem span.productItemDesc {
    font-size: 12px;
    color: #666666;
    display: block;
    padding: 16px;
}

div.productItem div.product-mask {
    display: none;
    position: relative;
    top: -270px;
    background-color: rgba(255,255,255,0.4);
    width: 187px;
    height: 190px;
}

div.productItem span.productPrice {
    font-size: 16px;
    color: #FF003A;
    display: block;
    padding-left: 16px;
    margin-top: -10px;
}

div.productItem a {
    text-decoration: none;
}

img.endpng {
    display: block;
    width: 82px;
    margin: 0 auto;
}
